.message-form {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 8px;
}

.message-input-container {
  display: flex;
  border-radius: 4px;
  height: 32px;
  width: 100%;
}

.message-input {
  background-color: transparent;
  border: 1px solid #d4d4d9;
  border-radius: 4px;
  width: 100%;
  padding: 0 8px;
  color: white;
}

.message-input:focus {
  outline: none;
  border: 4px solid #9146ff;
}

.message-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9146ff;
  color: white;
  height: 32px;
  padding: 8px;
  border: none;
  border-radius: 16px;
  font-weight: bold;
  cursor: pointer;
}

.message-button:hover {
  background-color: #772ce8;
}
